@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #9E00E8;
}

body {
  min-width: 440px;
  min-height: 450px;

}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

/* Add more global styles as needed */
